@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .min-h-inherit {
    min-height: inherit;
  }
}

.child {
  @apply min-h-inherit;
}

.event img {
  margin: 20px auto; /* 设置图片的上下左右边距 */
  width: 100%; /* 设置图片宽度为100% */
  max-width: 400px; /* 设置图片最大宽度 */
  height: auto; /* 保持图片的宽高比 */
  object-fit: cover; /* 保持图片的宽高比，缩放图片以完全覆盖容器 */
  border-radius: 8px; /* 设置图片圆角 */
}

.event h1 {
  font-size: 2.5rem; /* 设置标题字体大小 */
  margin: 1rem; /* 设置标题的上下边距 */
}

.event p {
  font-size: 1.5rem; /* 设置段落字体大小 */
  margin: 2.5rem 0; /* 设置段落的上下边距 */
  line-height: 1.6; /* 设置行高 */
  color: #333; /* 设置字体颜色 */
  text-align: justify; /* 设置文本对齐方式 */
  padding: 0 1rem; /* 设置段落的左右内边距 */
}
